<a href="https://colab.research.google.com/github/AEghtedariNaeini/CMGI_intro/blob/main/another_copy_of_level_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://apac.ee.kntu.ac.ir/wp-content/uploads/2024/09/apacgroup-logo.svg)

# Level Test
### Note: people who can answer this test **do not** need to attend first 50 hour of Python course

The questions will be given and you sould code in the box below

# Q1 :
calaulate the mod of three digit prime number(choose on your own) to 2 and proof that it is True

In [ ]:
prim_num = 103
result_num = prim_num % 2
print(f'{prim_num} % 2 = {result_num}')
if result_num==1:
  print(f'number is odd beacuse {prim_num} is prime and grater than 2 ')
else:
  print('number is even')

103 % 2 = 1
number is odd beacuse 103 is prime and grater than 2

# Q2:
code to get two string first print the type of input and then put them together(give it your name and last name)

In [ ]:
first_input = input('Please insert your name:')
second_input = input('Please insert your family:')
print (f'type of {first_input} is : ' ,type(first_input))
print (f'type of {second_input} is : ' ,type(first_input)  )
print(f'your full name is: {first_input} {second_input}')

Please insert your name:Atefe
Please insert your family:Eghtedari
type of Atefe is:  <class 'str'>
type of Eghtedari is:  <class 'str'>
your full name is: Atefe Eghtedari

# Q3:
create a list with 5 member and change the the three one to Iran

In [ ]:
new_list= ["member1","member2","member3","member4","member5"]
print('member of list',new_list)
new_list[2]="Iran"
print('member of new list',new_list)

member of list ['member1', 'member2', 'member3', 'member4', 'member5']
member of new list ['member1', 'member2', 'Iran', 'member4', 'member5']

# Q4:
create a dictionary with 5 member assign a b c d e to 1 to 5 and print Dictionary items

In [ ]:
new_dict = {'a':1,'b':2,'c':3,'d':4,'e':5}
print(new_dict.items())

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

# Q5:
Open an existing file in your computer and print last line(you can make a txt file then do it)

In [ ]:
with open('/content/Q4.txt') as f:
  lines = f.readlines()
  print(lines[-1])

line 6

# Q6:
Check 255 is greater than 188 and 255 is smaller than 189 in one line

In [ ]:
print ('is 255>188 , 225<189? : ' ,[bool(255>188) ,bool(255<189)] )

is 255>188 , 225<189? :  [True, False]

# Q7:
assign a your name to variable name person check it among your friends name if its true print 'HOORA'

In [ ]:

person = "Atefe"
friends = ["Elham", "Maryam", "Nasim", "Sahar"]
if person in friends:
    print("HOORA")

# Q8:
create a list 1 to 10 then check for even numbers then print all using for loops

In [ ]:
new_list = [1,2,3,4,5,6,7,8,9,10]
for i in new_list:
  if i%2==0:
    print(i)

2
4
6
8
10

# Q9:
consider x is 12 while x is between 10 to 15 print good else continue

In [ ]:
x = 12
if 10 <= x <= 15:
    print("good")
else:
    pass

good

# Q10:
make a list from 0 to 10000 with step of 100 using "range" shuffle this list and pick index 10

In [ ]:
import random
new_list = list(range(0,10000,100))
print("Top 20 value in list is: ", new_list[0:19])
random.shuffle(new_list)
print("Top 20 value in shuffled list is: ", new_list[0:19])
print("index 10 is: ", new_list[10])

Top 20 value in list is:  [0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800]
Top 20 value in shuffled list is:  [4400, 3700, 5500, 5300, 200, 3200, 500, 6900, 6400, 8300, 1300, 9400, 3000, 2800, 5000, 700, 1100, 5400, 4500]
index 10 is:  1300

# Q11:
Consider list of 1 to 5 append 6 in it and count even number in it using a function

In [ ]:
def count_even_numbers(numbers):
    return sum(1 for num in numbers if num % 2 == 0)

new_list = list(range(1, 6))
new_list.append(6)

count_even_numbers(new_list)

print("List:", new_list)
print("Number of even numbers:", count_even_numbers(new_list))

List: [1, 2, 3, 4, 5, 6]
Number of even numbers: 3

# Q12:
write a function that get string and uppercase the first letter if it's capital print it's True

In [ ]:
def check_and_uppercase_first_letter(s):
    if not s:
        print("The string is empty.")
        return
    if s[0].isupper()  :
        print(True)
    return  s[0].upper() + s[1:]

check_and_uppercase_first_letter("salam")

'Salam'